<div class="text-center">
  <h1>Mal ah&iacute;!</h1>
  <h2>404 - P&aacute;gina no encontrada</h2>

  <p>Alguno de nuestros desarrolladores debe ser castigado por este error inaceptable</p>

  <div class="row mt-5 justify-content-center mb-4">
    <button class="btn btn-danger mr-3">Camilo</button>
    <button class="btn btn-danger mr-3">Martin</button>
    <button class="btn btn-danger mr-3">Mauro</button>
  </div>

  <h2>Te sent&iacute;s misericordioso?</h2>

  <p>Volver a la p&aacute;gina de <a routerLink="/" class="text-info">inicio</a></p>
</div>